body {
    display: flex;
    flex-direction: column;
    font-family: Roboto, Ubuntu, sans-serif;
    margin: 0;
}

.header {
    display: flex;
    flex: 1;
    padding: 16px 100px;
    justify-content: space-between;
    background-color: #125B50;
    align-items: center;
    color: #FAF5E4;
}

.header-logo {
    font-size: 24px;
    font-weight: bold;
}

.header ul {
    display: flex;
    flex-shrink: 0;
    gap: 50px;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #FAF5E4;
}

.hero {
    display: flex;
    background-color: #125B50;
    padding: 50px 100px;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
    flex: 1;
}

.hero-text {
    display: flex;
    flex-direction: column;
    width: 500px;
    gap: 30px;
    flex-shrink: 0;
}

.hero-main-text {
    font-size: 48px;
    font-weight: 900;
    color: #FAF5E4;
}

.hero-secondary-text {
    font-size: 18px;
    color: #FAF5E4;
}

.hero button {
    padding: 10px 40px;
    background-color: #F8B400;
    color: #125B50;
    border-color: #F8B400;
    font-weight: bold;
    border-radius: 10px;
    border-style: solid;
}

.hero-image img {
    width: 100%;
    min-width: 300px;
    height: auto;
    border-radius: 10px;
}

.check-this-out {
    display: flex;
    flex-direction: column;
    background-color: #FAF5E4;
    padding: 50px 100px;
    align-items: center;
    gap: 30px;
    flex: 1;
}

.cto-header {
    font-size: 36px;
    font-weight: 900;
    color: #125B50;
}

.check-this-out ul {
    display: flex;
    align-items: flex-start;
    gap: 50px;
    list-style-type: none;
    text-align: center;
}

.check-this-out ul li {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.check-this-out img {
    height: auto;
    width: 100%;
    border-radius: 10px;
    min-width: 100px;

}

.check-this-out a {
    font-size: 16px;
    color: #125B50;
}

.quote-section {
    display: flex;
    flex-direction: column;
    background-color: #125B50;
    gap: 15px;
    padding: 50px 100px;
    justify-content: center;
    flex: 1;
    color: #FAF5E4;
}

.quote {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
}

.bill-bryson {
    font-size: 22px;
    font-weight: bold;
    text-align: end;
}

.call-to-action {
    display: flex;
    padding: 50px 100px;
    flex: 1;
    background-color: #FAF5E4;
}

.cta-container {
    display: flex;
    flex: 1;
    background-color: #125B50;
    padding: 30px 100px;
    border-radius: 10px;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.cta-text {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.cta-text-header {
    font-size: 24px;
    color: #FAF5E4;
    font-weight: bold;
}

.cta-text-subtext {
    font-size: 18px;
    font-weight: lighter;
    color: #FAF5E4;
}

.cta-container button {
    padding: 10px 40px;
    border-color: #F8B400;
    border-radius: 10px;
    font-weight: bold;
    color: #125B50;
    background-color: #F8B400;
    border-style: solid;
}

.footer {
    display: flex;
    background-color: #125B50;
    justify-content: center;
    align-items: center;
    padding: 32px 200px;
    color: #FAF5E4;
    font-weight: lighter;
}